table.table.table-responsive-sm.table-responsive-md.table-responsive-lg
  thead
  tr
  th {
  width: 20%;
  text-align: center;
}
table.table.table-responsive-sm.table-responsive-md.table-responsive-lg
  tbody
  tr
  td {
  text-align: center;
}
table.table.table-responsive-sm.table-responsive-md.table-responsive-lg
  tbody
  tr
  td:first-child {
  text-align: left;
}
.cursorevent {
  cursor: pointer;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 40px;
}

.item img {
  height: 150px;
}

.item {
  flex-direction: column;
}
